@model Epam_FinalProject_FileManager_BLL.DTO.FileEntityDTO
@using Humanizer;

<tr id="@Model.Id">
    <td class="filename">
        @Model.FileName
    </td>
    <td class="text-center">
        @Model.UploadDate.Humanize(utcDate: false, culture: System.Globalization.CultureInfo.GetCultureInfo("en-GB"))
    </td>
    <td class="text-center">
        @Model.AnonimOwner
    </td>
    <td class="text-center">
        @Model.Size.ToFileSize()
    </td>
    <td>
        <a href="@Url.Action("Download", "PublicStorage", new {fileId = @Model.Id})" class="btn btn-success btn-sm" title="Download" role="button">
            <span class="glyphicon glyphicon-download-alt"></span>
        </a>
        <button class="btn @(Model.ShareLink == null ? "btn-default" : "btn-success") btn-sm btn-info" title="Share" onclick="ShareFile(this);">
            <span class="glyphicon glyphicon-share"></span>
        </button>
    </td>
</tr>
