@model Epam_FinalProject_FileManager_BLL.DTO.FileEntityDTO
@using System.ServiceModel.Description
@using Humanizer;

<tr id="@Model.Id">
    <td class="filename">

        @if (Model.IsAudio)
        {
            <a href="#" data-toggle="modal"
               data-target="#@Model.Id">
                @Model.FileName
            </a>
        }
        else if (Model.IsVideo)
        {
            <a href="#" data-toggle="modal"
               data-target="#@Model.Id">
                @Model.FileName
            </a>
        }
        else if (Model.IsDocument)
        {
            <a href="@Url.Action("File", "MyStorage", new {path = Model.FilePath})" target="_blank" data-toggle="modal">
                @Model.FileName
            </a>
        }
        else
        {
            <a href="#" data-toggle="modal">
                @Model.FileName
            </a>
        }

    </td>
    <td class="text-center">
        @Model.UploadDate.Humanize(utcDate: false, culture: System.Globalization.CultureInfo.GetCultureInfo("en-GB"))
    </td>
    <td class="text-center">
        @Model.Size.ToFileSize()
    </td>
    <td class="text-center">
        @if (Model.Compression == "0")
        {
            <span>Absent</span>
        }
        else if (Model.Compression == "1")
        {
            <span>Average (Deflate)</span>
        }
        else if (Model.Compression == "2")
        {
            <span>High (LZMA)</span>
        }
    </td>
    <td>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" title="Options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-option-horizontal"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="@Url.Action("Download", "MyStorage", new {fileId = @Model.Id})">Download</a>
                </li>
                <li>
                    <a onclick="ShareFile(this);">Share</a>
                </li>
                <li>
                    <a onclick="ConfirmDelete(this);">Delete</a>
                </li>
            </ul>
        </div>
    </td>
</tr>
@if (Model.IsAudio)
{
    <div class="modal fade" id="@Model.Id" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">x</button>
                    <h4 class="modal-title" id="myModalLabel">@Model.FileName</h4>
                </div>
                <div class="modal-body">
                    <audio controls class="col-md-offset-2">
                        <source src="@Url.Action("myaudio", "MyStorage", new {path = Model.FilePath, userid = Model.Owner.Id, name = Model.Id + Model.FileExtention})" type="audio/mp3" />
                        This text displays if the audio tag isn't supported.
                    </audio>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.IsVideo)
{
    <div class="modal fade" id="@Model.Id" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">x</button>
                    <h4 class="modal-title" id="myModalLabel1">@Model.FileName</h4>
                </div>
                <div class="modal-body">
                    <video controls class="col-md-offset-2">
                        <source src="@Url.Action("myvideo", "MyStorage", new {path = Model.FilePath, userid = Model.Owner.Id, name = Model.Id + Model.FileExtention, extension = Model.FileExtention})" />
                    </video>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}