@model Epam_FinalProject_FileManager_BLL.DTO.FileEntityDTO
@using Epam_FinalProject_FileManager
@{
    ViewBag.Title = Model.FileName;
}
<div class="container">
    <div class="row">
        <h3>@Model.FileName</h3>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-3"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">Name</td>
                        <td>@Model.FileName</td>
                    </tr>
                    <tr>
                        <td class="text-center">Owner</td>
                        <td>@Model.Owner.UserName</td>
                    </tr>
                    <tr>
                        <td class="text-center">Uploading date</td>
                        <td>@Model.UploadDate.ToString()  </td>
                    </tr>
                    <tr>
                        <td class="text-center">Size</td>
                        <td>@Model.Size.ToFileSize()</td>
                    </tr>
                    <tr><td></td><td></td></tr>
                </tbody>
            </table>
            <a href="@Url.Action("DownloadPublic", "PublicStorage", new { shareLink = @Model.ShareLink?.ToString("N")})" class="btn btn-default btn" title="Download" role="button">
                <span class="glyphicon glyphicon-download-alt"></span> Upload
            </a>
        </div>
    </div>
</div>
