@model Epam_FinalProject_FileManager_BLL.DTO.FileEntityDTO
@using System.ServiceModel.Description
@using Humanizer;

<tr id="@Model.Id">
    <td class="filename">

        @if (Model.IsAudio)
        {
            <a href="#" data-toggle="modal"
               data-target="#@Model.Id">
                @Model.FileName
            </a>
        }
        else if (Model.IsVideo)
        {
            <a href="#" data-toggle="modal"
               data-target="#@Model.Id">
                @Model.FileName
            </a>
        }
        else if(Model.IsDocument)
        {
            <a href="@Url.Action("File", "MyStorage", new {path = Model.FilePath})" target="_blank" data-toggle="modal">
                @Model.FileName
            </a>
        }
        else
        {
            <a href="#" data-toggle="modal">
                @Model.FileName
            </a>
        }

    </td>
    <td class="text-center">
        @Model.UploadDate.Humanize(utcDate: false, culture: System.Globalization.CultureInfo.GetCultureInfo("en-GB"))
    </td>
    <td class="text-center">
        @Model.Size.ToFileSize()
    </td>
    <td>
        <a href="@Url.Action("Download", "MyStorage", new {fileId = @Model.Id})" class="btn btn-success btn-sm" title="Download" role="button">
            <span class="glyphicon glyphicon-download-alt"></span>
        </a>
        <button class="btn @(Model.ShareLink == null ? "btn-default" : "btn-success") btn-sm btn-info" title="Share" onclick="ShareFile(this);">
            <span class="glyphicon glyphicon-share"></span>
        </button>
        <button class="btn btn-danger btn-sm" title="Delete" data-toggle="modal" onclick="ConfirmDelete(this);">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </td>
</tr>
@if (Model.IsAudio)
{
    <div class="modal fade" id="@Model.Id" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">x</button>
                    <h4 class="modal-title" id="myModalLabel">Content</h4>
                </div>
                <div class="modal-body">
                    <audio controls class="col-md-offset-2">
                        <source src="@Url.Action("myaudio", "MyStorage", new {path = Model.FilePath, userid = Model.Owner.Id, name = Model.Id + Model.FileExtention})" type="audio/mp3"/>
                        This text displays if the audio tag isn't supported.
                    </audio>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.IsVideo)
{
    <div class="modal fade" id="@Model.Id" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-lg">
                <div class="modal-header modal-lg">
                    <button class="close" type="button" data-dismiss="modal">x</button>
                    <h4 class="modal-title" id="myModalLabel1">Content</h4>
                </div>
                <div class="modal-body modal-lg">
                    <video controls class="col-md-offset-1">
                        <source src="@Url.Action("myvideo", "MyStorage", new {path = Model.FilePath, userid = Model.Owner.Id, name = Model.Id + Model.FileExtention, extension = Model.FileExtention})"/>
                    </video>
                </div>
                <div class="modal-footer modal-lg">
                    <button class="btn btn-success" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}